/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button, 
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#home_body {
  background-color:#FFC800;
}

#about_body {
  background-color: #252525;
}

#about_nav {
  background-color: #252525;
  border-color:#252525;
}

.container_home {
 background-image: url('../images/pointer.png');
  background-repeat:no-repeat;
  background-position-x:328px;
  background-position-y:330px;

}

.container_about {
 background-image: url('../images/pointer.png');
  background-repeat:no-repeat;
  background-position-x:320px;
  background-position-y:192px;

}
.container {
 
}
.navbar-default {
  background-color: #FFC800;
  border-color:#FFC800;
  padding-right, padding-left:0px;

}

#logo {
  height:7em;
}

#logo_ontop {
  z-index: 999;
}

header {
  margin-top:45px;

}

header #menu {
  /*margin-top:55px;*/
 /* margin-left:100px;*/
}

.navbar-nav li a {
  color:white;
  font-size:1.5em;

}

.navbar-nav {
  float:right;
}

.navbar-nav li {
  text-align:center;
}

.navbar-default .navbar-nav li a:hover {
 border-bottom: 5px solid white;
 color:white;
}

.navbar-default .navbar-nav li a:focus {
 color:white;
}
.navbar-default .navbar-nav li a {
  color:white;
  text-transform:uppercase;
  font-size:1em;
  font-weight:bold;
  letter-spacing:.2em;
  margin-left: 1.2em;

}

ul {
 /* height:70px;*/
}



#side-text {
  font-size: 12px;
}

#equals {
  margin-top:30px;
  /*margin-top:180px;*/
  
 /* height:12em;
  background-image: url('../images/homepage_whitequals.png');
  background-size:14em;
  height:9em;
  background-repeat:no-repeat;
  */
display:inline-block;
padding:40px;
-webkit-animation:wobble 5s ease-in-out infinite;
-webkit-transform-origin:center bottom;
-webkit-transition:padding .3s, bottom .3s;
text-align:center; }

@-webkit-keyframes wobble { 33%{ -webkit-transform:rotate(5deg); } 66%{-webkit-transform:rotate(-5deg); } }

}

#lefthome {
  margin-left:65px;
  margin-top:20px;
}

#home_content {
  /*margin-top:50px;*/
}

#home_text {
  /*margin-top:50px;*/
  text-align:center;
  /*background-image: url('../images/pointer.png');
  background-repeat:no-repeat;
  background-position-x:3px;
  background-position-y:330px;*/


}

h2 {
  font-weight:600;
  font-size: 8em;
  color:white;
}

.welcome_text {
  font-size:1.8em;
  color:white;
  font-weight:600;
}

.navbar-header {
  position:absolute;
  top:0;
  right:0;
  z-index: 1000;
}

.navbar-collapse {
  border:none;
}
/* about page */ 

#bird {
  margin-top:80px;
  margin-bottom:80px;
  -moz-animation-duration:3s;
  -webkit-animation-duration:3s;
  -moz-animation-name:slidein;
  -webkit-animation-name:slidein;
}

#quote_section {
  background-color:white;
}


#quote_about {

  font-size:9em;
  margin-top:75px;
  margin-bottom:75px;
  padding:50px;
}

#quote_about span {
  color:#FFC800;
}

#anatomy_me {
  margin-top:105px;
  margin-bottom:50px;
  padding:40px;
}

/* SVG interactive doll */ 

#stage {
  width:960px;
  height:700px;
}




#education{ 
    transform-origin: 311px 489px;
}

#lives {
  -webkit-transform-origin: 517px 484px;
  -moz-transform-origin: 517px 484px;
  -ms-transform-origin: 517px 484px;
  -o-transform-origin: 517px 484px;
  transform-origin: 517px 484px; }

#lives-badge {
  -webkit-transform-origin: 445px 488px;
  -moz-transform-origin: 445px 488px;
  -ms-transform-origin: 445px 488px;
  -o-transform-origin: 445px 488px;
  transform-origin: 445px 488px; }

#lives-title {
  -webkit-transform-origin: 310px 396px;
  -moz-transform-origin: 310px 396px;
  -ms-transform-origin: 310px 396px;
  -o-transform-origin: 310px 396px;
  transform-origin: 310px 396px; }

#lives-details {
  -webkit-transform-origin: 311px 489px;
  -moz-transform-origin: 311px 489px;
  -ms-transform-origin: 311px 489px;
  -o-transform-origin: 311px 489px;
  transform-origin: 311px 489px; }

#training {
  -webkit-transform-origin: 514px 603px;
  -moz-transform-origin: 514px 603px;
  -ms-transform-origin: 514px 603px;
  -o-transform-origin: 514px 603px;
  transform-origin: 514px 603px; }

#training-badge {
  -webkit-transform-origin: 580px 606px;
  -moz-transform-origin: 580px 606px;
  -ms-transform-origin: 580px 606px;
  -o-transform-origin: 580px 606px;
  transform-origin: 580px 606px; }

#training-title {
  -webkit-transform-origin: 712px 513px;
  -moz-transform-origin: 712px 513px;
  -ms-transform-origin: 712px 513px;
  -o-transform-origin: 712px 513px;
  transform-origin: 712px 513px; }

#training-details {
  -webkit-transform-origin: 710px 620px;
  -moz-transform-origin: 710px 620px;
  -ms-transform-origin: 710px 620px;
  -o-transform-origin: 710px 620px;
  transform-origin: 710px 620px; }

#experience {
  -webkit-transform-origin: 511px 769px;
  -moz-transform-origin: 511px 769px;
  -ms-transform-origin: 511px 769px;
  -o-transform-origin: 511px 769px;
  transform-origin: 511px 769px; }

#experience-badge {
  -webkit-transform-origin: 445px 775px;
  -moz-transform-origin: 445px 775px;
  -ms-transform-origin: 445px 775px;
  -o-transform-origin: 445px 775px;
  transform-origin: 445px 775px; }

#experience-title {
  -webkit-transform-origin: 312px 680px;
  -moz-transform-origin: 312px 680px;
  -ms-transform-origin: 312px 680px;
  -o-transform-origin: 312px 680px;
  transform-origin: 312px 680px; }

#experience-details {
  -webkit-transform-origin: 310px 790px;
  -moz-transform-origin: 310px 790px;
  -ms-transform-origin: 310px 790px;
  -o-transform-origin: 310px 790px;
  transform-origin: 310px 790px; }

#complain {
  -webkit-transform-origin: 512px 1002px;
  -moz-transform-origin: 512px 1002px;
  -ms-transform-origin: 512px 1002px;
  -o-transform-origin: 512px 1002px;
  transform-origin: 512px 1002px; }

#complain-badge {
  -webkit-transform-origin: 586px 1000px;
  -moz-transform-origin: 586px 1000px;
  -ms-transform-origin: 586px 1000px;
  -o-transform-origin: 586px 1000px;
  transform-origin: 586px 1000px; }

#complain-title {
  -webkit-transform-origin: 718px 921px;
  -moz-transform-origin: 718px 921px;
  -ms-transform-origin: 718px 921px;
  -o-transform-origin: 718px 921px;
  transform-origin: 718px 921px; }

#complain-details {
  -webkit-transform-origin: 717px 1021px;
  -moz-transform-origin: 717px 1021px;
  -ms-transform-origin: 717px 1021px;
  -o-transform-origin: 717px 1021px;
  transform-origin: 717px 1021px; }

#education {
  -webkit-transform-origin: 513px 1199px;
  -moz-transform-origin: 513px 1199px;
  -ms-transform-origin: 513px 1199px;
  -o-transform-origin: 513px 1199px;
  transform-origin: 513px 1199px; }

#education-badge {
  -webkit-transform-origin: 444px 1193px;
  -moz-transform-origin: 444px 1193px;
  -ms-transform-origin: 444px 1193px;
  -o-transform-origin: 444px 1193px;
  transform-origin: 444px 1193px; }

#education-title {
  -webkit-transform-origin: 313px 1097px;
  -moz-transform-origin: 313px 1097px;
  -ms-transform-origin: 313px 1097px;
  -o-transform-origin: 313px 1097px;
  transform-origin: 313px 1097px; }

#education-details {
  -webkit-transform-origin: 316px 1202px;
  -moz-transform-origin: 316px 1202px;
  -ms-transform-origin: 316px 1202px;
  -o-transform-origin: 316px 1202px;
  transform-origin: 316px 1202px; }


[id$=badge] { /* Any element with an id that ends in "badge" */
     -webkit-transform: scale(0.5, 0.5);
  -moz-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5); 
}
[id$=title] { 
    -webkit-transform: scale(1.8) translate(0px, 48px);
  -moz-transform: scale(1.8) translate(0px, 48px);
  -ms-transform: scale(1.8) translate(0px, 48px);
  -o-transform: scale(1.8) translate(0px, 48px);
  transform: scale(1.8) translate(0px, 48px);
}

[id$=details] { 
    -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}

#badges > g:hover [id$=badge], #badges > g:hover [id$=details] {
    -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

#badges > g:hover [id$=title] {
    -webkit-transform: scale(1) translate(0px, 0px);
  -moz-transform: scale(1) translate(0px, 0px);
  -ms-transform: scale(1) translate(0px, 0px);
  -o-transform: scale(1) translate(0px, 0px);
  transform: scale(1) translate(0px, 0px);
}

[id$=badge], [id$=title], [id$=details] {
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
}

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes grow-y {
  0% {
    -moz-transform: scaleY(0);
    transform: scaleY(0); }

  100% {
    -moz-transform: scaleY(1);
    transform: scaleY(1); } }

@-webkit-keyframes grow-y {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }

@-o-keyframes grow-y {
  0% {
    -o-transform: scaleY(0);
    transform: scaleY(0); }

  100% {
    -o-transform: scaleY(1);
    transform: scaleY(1); } }

@-ms-keyframes grow-y {
  0% {
    -ms-transform: scaleY(0);
    transform: scaleY(0); }

  100% {
    -ms-transform: scaleY(1);
    transform: scaleY(1); } }

@keyframes grow-y {
  0% {
    transform: scaleY(0); }

  100% {
    transform: scaleY(1); } }

@-moz-keyframes grow-x {
  0% {
    -moz-transform: scaleX(0);
    transform: scaleX(0); }

  100% {
    -moz-transform: scaleX(1);
    transform: scaleX(1); } }

@-webkit-keyframes grow-x {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1); } }

@-o-keyframes grow-x {
  0% {
    -o-transform: scaleX(0);
    transform: scaleX(0); }

  100% {
    -o-transform: scaleX(1);
    transform: scaleX(1); } }

@-ms-keyframes grow-x {
  0% {
    -ms-transform: scaleX(0);
    transform: scaleX(0); }

  100% {
    -ms-transform: scaleX(1);
    transform: scaleX(1); } }

@keyframes grow-x {
  0% {
    transform: scaleX(0); }

  100% {
    transform: scaleX(1); } }

@-moz-keyframes grow {
  0% {
    -moz-transform: scale(0, 0);
    transform: scale(0, 0); }

  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-o-keyframes grow {
  0% {
    -o-transform: scale(0, 0);
    transform: scale(0, 0); }

  100% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }

@-ms-keyframes grow {
  0% {
    -ms-transform: scale(0, 0);
    transform: scale(0, 0); }

  100% {
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); } }

@keyframes grow {
  0% {
    transform: scale(0, 0); }

  100% {
    transform: scale(1, 1); } }

.svgLoaded #education-badge, .svgLoaded #training-badge, .svgLoaded #experience-badge, .svgLoaded #lives-badge { 
     -webkit-animation: grow 0.25s ease-in-out;
  -moz-animation: grow 0.25s ease-in-out;
  -ms-animation: grow 0.25s ease-in-out;
  -o-animation: grow 0.25s ease-in-out;
  animation: grow 0.25s ease-in-out;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards; 
}
.svgLoaded #education-badge { 
    -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;  
}
.svgLoaded #training-badge { 
    -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;   
}
.svgLoaded #experience-badge { 
    -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;  
}
.svgLoaded #lives-badge { 
    -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;  
}



/* media queries */ 
/* Tablet Layout: 768px.
 * Gutters: 24px.
 * Outer margins: 28px.
 * Inherits styles from: Default Layout.
 */

@media only screen and (max-width: 1200px) {
  
  .container_home {
    background-size:105px;
    background-position-x:254px;
    background-position-y:237px;
  }

  .container_about {
    background-size:105px;
    background-position-x:254px;
    background-position-y:237px;
  }
}

 @media only screen and (max-width: 986px) {
  header #menu {
    margin-left:-25px;
  }

  h2 {
    font-size:5em;
  }
}

@media only screen and (max-width: 900px) {
  
  h2 {
    font-size:5em;
  }
  
}

@media only screen and (max-width: 767px) {
  
  #lefthome {
    display:none;
  }

  #home_text {
    margin-left:30px;
  }

  .navbar-nav {
    float:none;
  }

  .container_home {
    background-image:none;
   }
 .container_about {
    background-image:none;
   }

  
}

@media only screen and (max-width: 763px) {
  
  #lefthome {
    display:none;
  }

  #home_text {
    margin-left:30px;
  }
  
}

@media only screen and (max-width: 426px) {
  #logo {
    height:5em;
  }

}

@media only screen and (max-width: 500px) {
  #logo {
    height:5em;
  }

  h2 {
    font-size: 4em;
  }

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

